{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block custom_styling %}
    <link rel="stylesheet" href="{% static 'styles/testimonial-form.css' %}">
{% endblock custom_styling %}


{% block content %}
<div>
    <div class="bg-body-secondary p-3 justify-content-center review-form-container">
        <h3 class="text-center display-6 text-primary fw-medium">Create Testimonial</h3>
        <form class="form" method="POST" action="{% url 'testimonial-create' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary testimonial-btn" type="submit">Post</button>
            <a class="btn btn-danger testimonial-btn ms-4" href="{% url 'testimonials' %}">Cancel</a>
        </form>
    </div>

    <div class="hero-text-container mt-3">
        <p id="review-hero-text" class="text-muted" >
            Ready to make a difference? Take a few moments to write a testimonial about your experience
            with SkillDonate. Your words can have a profound impact on our platform, inspire others, and
            contribute to the growth of our community. We sincerely appreciate your time and feedback!
        </p>
        <p class="lead text-center" id="review-thank-text">
            Thank you for being a valued member of SkillDonate. Together, we can make SkillDonate an even better place!
        </p>
    </div>
</div>
{% endblock content %}
