/* CUSTOM STYLING */

.review-form-container,
.hero-text-container {
    max-width: 60%;
    margin: auto;
    border-radius: 8px;
}

.testimonial-btn {
    width: 7rem;
}


@media screen and (max-width: 962px) {
    .review-form-container,
    .hero-text-container {
        max-width: 70%;
    }

}


@media screen and (max-width: 768px) {
    .review-form-container,
    .hero-text-container {
        max-width: 80%;
    }

    #review-hero-text {
        text-align: justify;
    }
}
