{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mb-3">
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{ user.charity.name }} Profile Page</h5>
          <img src="{{ user.charity.profile_pic.url }}" alt="Profile Picture" class="img-thumbnail mb-2">
          <h6 class="card-subtitle mb-2 text-muted">{{ user.charity.name }}</h6>
          <p class="card-text">{{ user.charity.description }}</p>
          <p>{{ user.charity.profile_pic.url }}</p>

          <!-- USING GRID SYSTEM: to align content after labels -->
          <div class="row">
            <div class="col-sm-3"><strong>Phone:</strong></div>
            <div class="col-sm-9">{{ user.charity.phone }}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3"><strong>City:</strong></div>
            <div class="col-sm-9">{{ user.charity.city }}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3"><strong>Country:</strong></div>
            <div class="col-sm-9">{{ user.charity.country }}</div>
          </div>
          <hr>
          {% if request.user.is_authenticated and request.user == user %}
            <a href="{% url 'charity-profile-update' user.id %}" class="btn btn-primary mt-3 px-4">
              Edit profile&raquo;
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>











<!-- <div class="d-flex justify-content-center">
  <div class="card" style="width: 500px">
    <img class="card-img-top" src="{% static 'images/child-looking.jpg' %}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{ user.charity.name }}</h4>
      <p class="card-text"><i>{{ user.charity.description }}</i></p>
      <p class="card-text"><b>Contact: </b>{{ user.charity.phone }}</p>
      <p class="card-text"><b>City: </b>{{ user.charity.city }}</p>
      <p class="card-text"><b>Country: </b>{{ user.charity.country }}</p>

      {% if request.user.is_authenticated and request.user == user %}
        <a href="{% url 'charity-profile-update' user.id %}" class="btn btn-primary">
          Update profile&raquo;
        </a>
      {% endif %}
    </div>
  </div>
</div> -->

{% endblock content %}
